<section class="form-section">
    <h1>
        <%= title %>
    </h1>
    <p>Sign in to access your account.</p>

    <% if (notice && notice.length) { %>
        <div class="notice">
            <%= notice[0] %>
        </div>
        <% } %>

            <% if (errors && errors.length) { %>
                <ul class="notice error-list">
                    <% errors.forEach(error=> { %>
                        <li>
                            <%= error.msg %>
                        </li>
                        <% }) %>
                </ul>
                <% } %>

                    <form action="/account/login" method="post" class="form-card">
                        <label for="account_email">Email Address</label>
                        <input type="email" id="account_email" name="account_email" required
                            value="<%= typeof account_email !== 'undefined' ? account_email : '' %>">

                        <label for="account_password">Password</label>
                        <input type="password" id="account_password" name="account_password" required>

                        <button type="submit" class="btn">Login</button>
                    </form>
</section>