<section class="car-specs">
    <div class="car-col upgrades">
        <h2>
            <%= car.name %> Upgrades
        </h2>

        <div class="upgrade-grid">
            <% car.upgrades.forEach((upgrade)=> { %>
                <%- include('partials/upgrade-card', { upgrade: upgrade }) %>
                    <% }) %>
        </div>
    </div>

    <div class="car-col reviews">
        <h2>
            <%= car.name %> Reviews
        </h2>

        <ul class="review-list">
            <% car.reviews.forEach((review)=> { %>
                <%- include('partials/upgrade-list-item', { review: review }) %>
                    <% }) %>
        </ul>
    </div>
</section>