<section class="car-specs">
    <div class="car-col upgrades">
        <h2>
            <%= car.name %> Upgrades
        </h2>

        <div class="upgrade-grid">
            <% if (car.upgrades && car.upgrades.length> 0) { %>
                <% car.upgrades.forEach((upgrade)=> { %>
                    <%- include('upgrade-card', { upgrade: upgrade }) %>
                        <% }) %>
                            <% } else { %>
                                <p>No upgrades available.</p>
                                <% } %>
        </div>
    </div>

    <div class="car-col reviews">
        <h2>
            <%= car.name %> Reviews
        </h2>

        <ul class="review-list">
            <% if (car.reviews && car.reviews.length> 0) { %>
                <% car.reviews.forEach((review)=> { %>
                    <%- include('upgrade-list-item', { review: review }) %>
                        <% }) %>
                            <% } else { %>
                                <li>No reviews available.</li>
                                <% } %>
        </ul>
    </div>
</section>