<section class="hero">
    <h1>Welcome to CSE Motors!</h1>

    <%- messages() %>

        <div class="hero-caption">
            <h2>DMC Delorean</h2>
            <p>3 Cup holders</p>
            <p>Superman doors</p>
            <p>Fuzzy dice!</p>
            <a href="#" class="cta-btn">Own Today</a>
        </div>
</section>