<section class="hero">
    <h1>Welcome to CSE Motors!</h1>

    <div class="hero-content">
        <div class="hero-caption">
            <h2>DMC DeLorean</h2>
            <ul>
                <li>3 Cup holders</li>
                <li>Superman doors</li>
                <li>Fuzzy dice!</li>
            </ul>
            <a href="/inventory" class="cta-btn">Own Today</a>
        </div>

        <div class="hero-image">
            <img src="/images/vehicles/delorean.jpg" alt="DMC DeLorean Car">
        </div>
    </div>
</section>